@media screen and (max-width: 800px) {
  .navber-main {
    flex-direction: column;
    align-items: center;
  }
  .navber-main > div {
    margin-top: 20px;
  }
  .fifty-off {
    left: 16%;
  }
  .popular-main {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer */
  .footer-contanrt {
    display: block;
    gap: 2rem;
  }
  .footer-right-div {
    margin-bottom: 2rem;
  }
  .footer-contan {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .nav-hambarger-mainu {
    display: block;
  }
  .nav-btn-contaner {
    display: none;
  }
  .navber-main {
    flex-direction: row;
  }

  .banner-main {
    flex-direction: column;
  }
  .banner-childs {
    width: 100%;
  }
  .fifty-off {
    left: 30%;
  }
  .popular-main {
    grid-template-columns: repeat(1, 1fr);
  }
  .odvut-section {
    height: 100px;
    gap: 10px;
  }
  .icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 12%;
    left: 40%;
  }
  /* footer  */
  .footer-contanrt,
  .footer-right {
    display: block;
  }
  .footer-right-div {
    margin-bottom: 2rem;
  }
  .footer-contan {
    margin-bottom: 2rem;
  }
  .footer-p {
    padding: 10px 0;
  }
}
